HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

# Android
android/app/build/
android/app/release/
android/.gradle/
android/local.properties
android/.idea/
android/*.iml
android/.DS_Store
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/google-services.json

# Backend (Java/Kotlin)
target/
.gradle/
.idea/
out
logs/

# General
.DS_Store
*.log
node_modules/
*.tmp
*.temp
